<h1>Create snippet</h1>
<form class="row g-3" method="post" action="./snippets-app/snippets/create">
  
  <div class="col-md-12">
    <label class="form-label" for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" name="title" placeholder="Snippet title" required />
  </div>
  
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">Code</label>
    <textarea class="form-control" id="descriptionInput" name="code" placeholder="Enter your snippet here" required="required" autofocus="autofocus"></textarea>
  </div>
  
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>

</form>
