<h1>Delete snippet</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <div class="col-md-12">
    <label class="form-label" for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" name="title" placeholder="Snippet title" value="<%= viewData?.title %>" disabled />
  </div>
  <div class="col-md-12">
    <label class="form-label" for="codeInput">Code</label>
    <textarea class="form-control" id="codeInput" name="code" disabled><%= viewData?.code %> </textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" autofocus="autofocus">Delete</button>
  </div>
</form>