<h1>Snippets</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.snippets.length) { %>
      <% for (const snippet of viewData.snippets) { %>
        <tr>
          <td><%= snippet.title %></td>
          <td>
            <div class="snippet">
              <pre><%= snippet.code %></pre>
            </div>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="2" class="text-center text-danger">
          There are no snippets to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
