<h1>Update snippet</h1>
<form class="row g-3" method="post" action="/tasks/<%= viewData?.id %>/update">
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
      Description
    </label>
    <input type="text" class="form-control" id="descriptionInput" name="description" placeholder="Update task description here" value="<%= viewData?.description %>" required="required" autofocus="autofocus" />
  </div>

  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>