<div class="form-container"> 
<h1>Register</h1>
<form class="row g-3" method="post" action="/users/Register">
  <div class="col-md-12">
    <label for="usernameInput" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter your username" required autofocus>
  </div>

  <div class="col-md-12">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Enter your password" required>
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
</div>